// overwrite bootstrap's settings
// 方案選項按鈕 hover 跟 active 時的文字顏色
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn.btn-outline-primary:hover {
  color: #fff;
}

// faq 手風琴圓角、icon
.accordion-item:first-of-type, // overwrite default settings
.accordion-item:last-of-type, // overwrite default settings
.accordion-item {
  border-radius: 0.75rem;
  .accordion-button,
  .accordion-button.collapsed {
    border-radius: calc(0.75rem - 1px);
  }
}
.accordion-button {
  // 關起來的時候
  &::after {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_plus.svg);
    background-position: center;
  }
  // 展開的時候
  &:not(.collapsed) {
    color: $primary;
    font-weight: bold;
    &::after {
      background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_minus.svg);
    }
  }
}

.case-bg {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner.svg);
  background-size: 65vw auto;
  background-repeat: no-repeat;
  background-position: right top;

  // 灰色背景的部分
  &::before {
    content: "";
    position: absolute;
    background-color: #f7f9fd;
    height: 470px;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border-bottom-left-radius: 300px;
  }
}

.case-bg-ball-1 {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg);
  background-size: 361px;
  background-repeat: no-repeat;
  background-position: -267px 325px;
}

// banner
.case-banner {
  min-height: 382px;
}

// case
.case {
  .btn-outline-primary {
    color: $primary; // overwrite utilities' settings
  }
  .options {
    overflow-x: auto;
  }
}
.subscriptions sub,
.fee sub {
  font-size: 0.375em;
  margin-left: 8px;
  vertical-align: middle;
}

@media screen and(max-width: 576px) {
  .case-bg {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner_sm.svg);
    background-position: right top;
    // image height: banner + navbar = 576px
    background-size: auto 576px;
    // 灰色背景的部分
    &::before {
      border-bottom-left-radius: 150px;
      height: 567px; // banner + navbar
    }
  }
  .case-bg-ball-1 {
    background-size: 204px;
    background-position: -108px 677px;
  }
  .case-banner {
    min-height: 495px;
  }
  .subscriptions sub,
  .fee sub {
    margin-left: 4px;
  }
}
