// overwrite swiper's settings
// overwrite pagination's default margin
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper {
  // 調版面
  &-wrapper {
    padding-left: 0.5rem;
  }
  &-slide {
    padding-right: 1rem;
  }
  // 調位置
  &-pagination {
    position: static;
    // 客製樣式
    &-bullet {
      width: 10px;
      height: 10px;
      transition: width 300ms linear;
      &-active {
        width: 1rem;
        border-radius: 5rem;
        background-color: $secondary;
      }
    }
  }
}

// wrap background-image
.bg {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home.svg),
    url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg);
  background-repeat: no-repeat;
  // 黃色背景不用 100vh 量，避免在平板中變得超高
  background-size: 60% auto, 360px, 150px;
  background-position: right top, -180px calc(100vh - 180px);
}
.bg-ball-2 {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball02.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 100px) 420px;
  background-size: 310px;
}
.bg-ball-3 {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg);
  background-repeat: no-repeat;
  background-position: 50px 40px;
  background-size: 150px;
}

// media
.media img {
  height: 90px;
}

// feature
.feature {
  .card {
    max-width: 230px;
  }
}

.ellipase {
  width: 86px;
  height: 86px;
  img {
    object-fit: scale-down;
  }
}

// feedback
.feedback .avatar {
  height: 80px;
  width: 80px;
  transform: translate(32px, 24px);

  // 調整 z-index
  position: relative;
  z-index: 1;
}

.rate {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_star.svg);
  background-size: 1.5rem 1rem; // 預留間距
  background-repeat: space; // 均勻留白
  // 指定長寬
  height: 1rem;
  @for $i from 1 through 5 {
    &-#{$i} {
      // width: 星星(1rem) + 間距(0.5rem)
      width: $i + $i * 0.5rem;
    }
  }
}

// footer
.footer-banner {
  min-height: 500px;
  padding-top: 270px; // position h2
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home_footer.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and(max-width: 576px) {
  // wrap background-image under 576px
  .banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home_sm.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center calc(100% - 32px);
  }
  .bg {
    background-image: none;
  }
  .bg-ball-1 {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg);
    background-repeat: no-repeat;
    background-position: -77px 7px;
    background-size: 126px;
  }
  .bg-ball-2 {
    background-position: calc(100% + 47px) 1580px;
    background-size: 135px;
  }
  .bg-ball-3 {
    background-position: -76px 40px;
    background-size: 153px;
  }
  .footer-banner {
    min-height: 460px;
    padding-top: 290px; // position h2
  }
}
