.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn.btn-outline-primary:hover {
  color: #fff;
}

.bg {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg);
  background-size: 65vw auto, 361px;
  background-position: right top, -267px 44%;
}
.bg::before {
  content: "";
  position: absolute;
  background-color: #f7f9fd;
  height: 470px;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  border-bottom-left-radius: 300px;
}

.banner {
  background-image: none;
  min-height: 382px;
}

.case .btn-outline-primary {
  color: #56c4c5;
}
.case .options {
  overflow-x: auto;
}

.subscriptions sub,
.fee sub {
  font-size: 0.375em;
  margin-left: 8px;
  vertical-align: middle;
}

@media (max-width: 576px) {
  .bg {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner_sm.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg);
    background-position: right top, -108px 52%;
    background-size: auto 576px, 204px;
  }
  .bg::before {
    border-bottom-left-radius: 150px;
    height: 567px;
  }

  .banner {
    min-height: 495px;
  }

  .subscriptions sub,
.fee sub {
    margin-left: 4px;
  }
}
*,
*::before,
*::after {
  outline: 1px solid lightblue;
}

.article1 {
  height: 768px;
}

.article2 {
  height: 396px;
}

@media (max-width: 576px) {
  .article1 {
    height: 1250px;
  }

  .article2 {
    height: 384;
  }
}